@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(
  (
    background-basic-color-1: color-primary-500,
    background-basic-color-2: color-primary-600,
    background-basic-color-3: color-primary-600,
    background-basic-color-4: color-primary-600,
    border-basic-color-1: color-primary-500,
    border-basic-color-2: color-primary-600,
    border-basic-color-3: color-primary-700,
    border-basic-color-4: color-primary-800,
    border-basic-color-5: color-primary-900,
    text-basic-color: color-primary-200,
    text-alternate-color: color-primary-200,
    text-disabled-color: color-primary-450,
    shadow: 0 0.5rem 1rem 0 #2b251d,
    outline-color: color-primary-700,
    color-primary-focus: color-primary-400,
    color-primary-hover: color-primary-100,
    color-primary-default: color-primary-200,
    color-primary-active: color-primary-300,
    color-primary-disabled: color-primary-450,
    color-primary-100: #f3f1e3,
    color-primary-200: #e8e2c8,
    color-primary-300: #bcb395,
    color-primary-400: #797159,
    color-primary-450: #8f8e8c,
    color-primary-500: #2b251d,
    color-primary-600: #211c16,
    color-primary-700: #17120a,
    color-primary-800: #120e06,
    color-primary-900: #0f0a04,
    color-primary-transparent-100: rgba(167, 134, 92, 0.08),
    color-primary-transparent-200: rgba(32, 29, 21, 0.16),
    color-primary-transparent-300: rgba(32, 29, 21, 0.24),
    color-primary-transparent-400: rgba(32, 29, 21, 0.32),
    color-primary-transparent-500: rgba(32, 29, 21, 0.4),
    color-primary-transparent-600: rgba(32, 29, 21, 0.48),
    color-success-100: #dff8d1,
    color-success-200: #baf1a5,
    color-success-300: #85d771,
    color-success-400: #52af47,
    color-success-500: #1c7a1a,
    color-success-600: #136818,
    color-success-700: #0d5718,
    color-success-800: #084617,
    color-success-900: #043a16,
    color-success-transparent-100: rgba(28, 122, 26, 0.08),
    color-success-transparent-200: rgba(28, 122, 26, 0.16),
    color-success-transparent-300: rgba(28, 122, 26, 0.24),
    color-success-transparent-400: rgba(28, 122, 26, 0.32),
    color-success-transparent-500: rgba(28, 122, 26, 0.4),
    color-success-transparent-600: rgba(28, 122, 26, 0.48),
    color-info-100: #d2e5fd,
    color-info-200: #a6cafb,
    color-info-300: #79a8f4,
    color-info-400: #568aea,
    color-info-500: #235edd,
    color-info-600: #1948be,
    color-info-700: #11359f,
    color-info-800: #0b2480,
    color-info-900: #06196a,
    color-info-transparent-100: rgba(35, 94, 221, 0.08),
    color-info-transparent-200: rgba(35, 94, 221, 0.16),
    color-info-transparent-300: rgba(35, 94, 221, 0.24),
    color-info-transparent-400: rgba(35, 94, 221, 0.32),
    color-info-transparent-500: rgba(35, 94, 221, 0.4),
    color-info-transparent-600: rgba(35, 94, 221, 0.48),
    color-warning-100: #fbf3c9,
    color-warning-200: #f7e495,
    color-warning-300: #e9ca5e,
    color-warning-400: #d3ac35,
    color-warning-500: #b78401,
    color-warning-600: #9d6c00,
    color-warning-700: #835700,
    color-warning-800: #6a4300,
    color-warning-900: #573500,
    color-warning-transparent-100: rgba(183, 132, 1, 0.08),
    color-warning-transparent-200: rgba(183, 132, 1, 0.16),
    color-warning-transparent-300: rgba(183, 132, 1, 0.24),
    color-warning-transparent-400: rgba(183, 132, 1, 0.32),
    color-warning-transparent-500: rgba(183, 132, 1, 0.4),
    color-warning-transparent-600: rgba(183, 132, 1, 0.48),
    color-danger-100: #fbdbce,
    color-danger-200: #f7b0a0,
    color-danger-300: #e7786d,
    color-danger-400: #cf4746,
    color-danger-500: #af1522,
    color-danger-600: #960f27,
    color-danger-700: #7d0a29,
    color-danger-800: #650628,
    color-danger-900: #530427,
    color-danger-transparent-100: rgba(175, 21, 34, 0.08),
    color-danger-transparent-200: rgba(175, 21, 34, 0.16),
    color-danger-transparent-300: rgba(175, 21, 34, 0.24),
    color-danger-transparent-400: rgba(175, 21, 34, 0.32),
    color-danger-transparent-500: rgba(175, 21, 34, 0.4),
    color-danger-transparent-600: rgba(175, 21, 34, 0.48),
  ),
  custom-theme,
  dark
);
