{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter" : {
        "expression" : "publicationState = :publicationState",
        "expressionValues" : {
            ":publicationState" : { "S" : "published" }
        }
    }
}
