ion-tabs,
ion-tab-bar {
  background: rgba(0, 0, 0, 0) !important;
}

ion-tab-bar {
  // Translucent positioning effect
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
ion-tab-button {
  --color: var(--ion-color-secondary);
  --color-selected: var(--ion-color-primary);
}
