<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios" translucent="true">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label class="uppercase">{{ 'menu.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="walk-outline"></ion-icon>
      <ion-label class="uppercase">{{ 'menu.activity' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label class="uppercase">{{ 'menu.profile' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class="uppercase">{{ 'menu.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
